{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/main_app/advertisement_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
{% endblock links %}
{% block content %}
    <div class="container warp">
        <div class="box mt-5 mb-5">
            {% csrf_token %}
            <div class="row mb-5">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                      <div class="carousel-indicators">
                          {% for img in apartment.images.all %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to='{{forloop.counter0}}' {% if img == apartment.images.all|first %} class="active" {% endif %} aria-current="true" aria-label='Slide {{forloop.counter0|add:"1"}}'></button>
                          {% endfor %}
                      </div>
                      <div class="carousel-inner">
                          {% for img in apartment.images.all %}
                              <div class="carousel-item {% if img == apartment.images.all|first %} active {% endif %}">
                                  <img src="{{ img.image.url }}" class="d-block w-100" alt="...">
                              </div>
                          {% endfor %}
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h3 class="title mt-2">{{ apartment.name }}</h3>
                    {% if apartment.type == 'Room_in_hotel' %}
                        <div class="address mb-1"><a href="/advertisement/{{apartment.hotel_id}}">{{ apartment.address }}</a></div>
                    {% elif apartment.type == 'Hotel' %}
                        <div class="address mb-3">{{ apartment.address }}</div>
                    {% else %}
                        <div class="address mb-1">{{ apartment.address }}</div>
                    {% endif %}
                    {% if apartment.type != 'Hotel' %}
                        <div class="cost mb-3"><h5>Цена: {{ apartment.cost }} руб/ночь</h5></div>
                    {% endif %}
                    <div class="description">
                        <h4 class="mb-2">Описание:</h4>
                        {{ apartment.description|safe }}
                    </div>
                </div>
            </div>

            {% if apartment.type == 'Hotel' %}
                <div class="mb-3">
                    {% if rooms|length != 0 %}
                        <h3 class="text-center mb-5">Номера:</h3>
                    {% endif %}
                    {% for room in rooms %}
                        <a href="/advertisement/{{room.id}}">
                            <div class="box mb-5 room_in_hotel">
                                <div class="row">
                                    <div class="col-6"><h5>{{room.name}}</h5></div>
                                    <div class="col-6 text-end">Цена: {{room.cost}} руб/ночь</div>
                                </div>
                            </div>
                        </a>
                    {% empty %}
                        <h3 class="text-center">К сожалению в данный свободных номеров нет</h3>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    <div id="calendar" class="col-12 col-md-6 mb-3 mb-md-0"></div>
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <form method="POST" name="book_form" action="/book/{{pk}}/"  onsubmit="return validate(this);">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Ваш Email адрес</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            </div>
                            <input type="hidden" class="form-control" id="sdate" name="sdate" required>
                            <input type="hidden" class="form-control" id="edate" name="edate" required>
                            <button type="submit" class="btn-styled link-btn">Забронировать</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script  src="{% static 'js/air-datepicker.js' %}"></script>

<script>
    function validate(){

        if(document.getElementById("sdate").value === '' || document.getElementById("edate").value === ''){
            Swal.fire({
                icon: 'error',
                title: 'Введите обе даты чтобы продолжить!',
                timer: 2000,
                timerProgressBar: true,
            })
            return false
        }
        return true
    }
</script>

{% if apartment.type != 'Hotel' %}
<script>
    const getNearest = (data, target) => {
      const [d, m, y] = target.split('/');
      const target_day = new Date(y, m - 1, d)

      const index = data
        .map(({date}, orginalIndex) => {
          const [d, m, y] = date.split('/');
          return { sorter: new Date(y, m - 1, d), orginalIndex };
        })
        .sort((a, b) => a.sorter - b.sorter)
        .find(item => item.sorter >= target_day)
        ?.orginalIndex;

      return data[index] || null;
    }
    function replaceAll(target, search, replacement) {
        return target.split(search).join(replacement);
    }
    function contains(arr, elem) {
        return arr.indexOf( elem ) != -1;
    }
    let booked_days = {{ booked_days|safe }}
    let disableDates = []
    booked_days.forEach((item) => {
        disableDates.push(item['date'])
    })
    // console.log(disableDates)
    var options = {
      year: 'numeric',
      month: 'numeric',
      day: 'numeric',
    };
    let is_first_selected = false
    let is_second_selected = false
    let buttonclear = {
        content: 'Очистить',
        onClick: (dp) => {
            let date = new Date('2030-01-01');
            dp.update({
                maxDate: date,
                minDate: new Date(),
            })
            dp.clear()
            is_first_selected = false
            is_second_selected = false
            document.getElementById("sdate").value = ''
            document.getElementById("edate").value = ''
        }
    }
    let cl = new AirDatepicker('#calendar', {
        minDate: new Date(),
        inline: true,
        range: true,
        multipleDatesSeparator: ' - ',
        buttons: [buttonclear],
        toggleSelected: false,
        dynamicRange: false,
        onRenderCell({date, cellType}) {
            if (cellType === 'day') {
                let d = replaceAll(date.toLocaleString("ru", options), '.', '/')
                if(contains(disableDates, d))
                {
                    return {
                        disabled: true
                    }
                }
            }
        },
        onSelect({date, formattedDate}) {
            let d = replaceAll(date.toLocaleString("ru", options), '.', '/')
            // console.log(d.split('/'))
            let nd = getNearest(booked_days, d)
            // console.log(nd)
            // console.log(formattedDate)
            if(!is_first_selected && date != "")
            {
                const [d, m, y] = formattedDate[0].split('.');
                const fd = new Date(y, m - 1, d)
                is_first_selected = true
                cl.update({
                    minDate: fd
                })
            }
            else if(!is_second_selected && date != "" && is_first_selected)
            {
                // console.log(date)
                const [d, m, y] = formattedDate[0].split('.');
                const fd = new Date(y, m - 1, d)
                is_second_selected = true
                cl.update({
                    minDate: fd,
                    maxDate: fd
                })
                // console.log(formattedDate)
                // let fd0 = formattedDate[0].split('.')
                // fd0 = fd0[2] + '-' + fd0[1] + '-' + fd0[0]
                // let fd1 = formattedDate[1].split('.')
                // fd1 = fd1[2] + '-' + fd1[1] + '-' + fd1[0]
                document.getElementById("sdate").value = formattedDate[0]
                document.getElementById("edate").value = formattedDate[1]
            }
            if(nd != null)
            {
                const [d, m, y] = nd['date'].split('/');
                const md = new Date(y, m - 1, d)
                cl.update({
                    maxDate: md
                })
            }
        }
    })
</script>
{% endif %}
{% endblock scripts %}