{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/slimselect.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_app/index.css' %}">
{% endblock links %}
{% block content %}
    <div class="about-us-box">
        <div class="box">
            <h4 class="text-center">С нами комфортно путешествовать по России: мгновенно бронируйте квартиры и номера в отелях без участия арендодателей. Мы заботимся о вас и ваших интересах, поэтому обратите внимание на описание жилья - там указаны ближайшие кафе, рестораны, парки и другие объекты.</h4>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center mb-3">Объявления</h2>
        <div class="row">
            {% for apartment in apartments %}
                <a href="/advertisement/{{ apartment.id }}" class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-5" style="cursor: pointer;">
                    <div class="card advertisement-card" style="width: 18rem;">
                        {% with apartment.images.all|first as img %}
                            <div class="img-box">
                                <img src="{{ img.image.url }}" class="card-img-top" alt="...">
                            </div>
                        {% endwith %}
                        <div class="card-body">
                            <h6 class="card-title name">{{ apartment.name }}</h6>
                            <p class="card-text address-box">
                                <span class="address">{{ apartment.address }}</span>
                            </p>
                            <h6 class="card-title cost">{{ apartment.cost }} руб/ночь</h6>
                        </div>
<!--                        <a href="/advertisement/{{ apartment.id }}" class="more-detailed">Подробнее</a>-->
                    </div>
                </a>
            {% empty %}
                <h3 class="text-center">В данный момент все жильё к сожалению занято</h3>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}