@import "../main"

.warp
  padding: 0 30px !important


.carousel-item
  min-height: 340px
  max-height: 340px
  img
    object-fit: cover
    min-height: 340px
    max-height: 340px

.address
  color: $purpleColor
  font-weight: 400
  font-size: 1.1rem